.c-fixed-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.c-fixed-alert--error {
  background-color: rgba(#cc1e1e, 0.85);
  color: white;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 0.3s ease-in;
}